# SPDX-License-Identifier: GPL-2.0
#
# Copyright 2021 Google LLC
#

config MALI_PRIORITY_CONTROL_MANAGER
	tristate "MALI_PRIORITY_CONTROL_MANAGER"
	help
	  This option enables an implementation of a priority control manager
	  for determining the target GPU scheduling priority of a process.
